<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand" href="#">Tuteurs</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/listTuteur" routerLinkActive="active">Liste</a>
    <a class="nav-item nav-link" routerLink="/addTuteur" routerLinkActive="active">Ajouter</a>
    </div>
    </div>
   </nav>
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <router-outlet></router-outlet>
